<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Javascript-master.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DB1BA24D1C1A87F900E0BBF0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DB1BA2661C1A87F900E0BBF0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DB1BA2711C1A87F900E0BBF0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
